<template>
  <box>
    <sprite :src="bulletImg"></sprite>
  </box>
</template>

<script>
import { onMounted, onUnmounted, reactive } from 'vue';
import bulletImg from '../assets/bullet.png';
import { game } from '../game';
import config from '../config';
export default {
  setup() {
    return {
      bulletImg,
    };
  },
};

export const useBullet = () => {
  let bulletList = reactive([]);

  const addBullet = ({ x, y }) => {
    const { hurt, width, height } = config.bullet;
    // console.log(x, y);
    bulletList.push({
      hurt,
      x,
      y,
      width,
      height,
    });
  };

  const destroyBullet = (index) => {
    bulletList.splice(index, 1);
  };

  const move = () => {
    const handleTicker = () => {
      bulletList.forEach((item, index) => {
        item.y -= config.bullet.speed;

        if (item.y <= 0) {
          bulletList.splice(index, 1);
        }
      });
    };

    onMounted(() => {
      game.ticker.add(handleTicker);
    });

    onUnmounted(() => {
      game.ticker.remove(handleTicker);
    });
  };

  move();

  return {
    bulletList,
    addBullet,
    destroyBullet,
  };
};
</script>

<style lang="scss" scoped></style>
