<template>
  <box>
    <sprite :src="enemyImg"></sprite>
  </box>
</template>

<script>
import { onMounted, onUnmounted, reactive } from 'vue';
import enemyImg from '../assets/enemy.png';
import config from '../config';
import { game } from '../game';
export default {
  setup() {
    return { enemyImg };
  },
};

export const useEnemy = () => {
  // const { speed } = config.enemy;

  // const getSpeed = () => {
  //   if (typeof speed === 'function') {
  //     return speed();
  //   } else {
  //     return speed;
  //   }
  // };
  const createEnemy = () => {
    const { x, y, blood, speed, width, height } = config.enemy;
    return {
      x: x(), // 随机横坐标
      y,
      speed: speed(),
      blood,
      width,
      height,
    };
  };

  const enemyList = reactive([createEnemy()]);

  const destroyEnemy = (index) => {
    enemyList.splice(index, 1);
  };

  const move = () => {
    const handleTicker = () => {
      enemyList.forEach((enemy, index) => {
        enemy.y += enemy.speed;

        if (enemy.y > 1000) {
          // 优化： 超出画布 清除元素
          destroyEnemy(index);
        }
      });
    };

    onMounted(() => {
      game.ticker.add(handleTicker);
    });

    onUnmounted(() => {
      game.ticker.remove(handleTicker);
    });
  };

  const addEnemy = () => {
    let timer = null;

    const handlerAdd = () => {
      console.log('产生敌机');
      enemyList.push(createEnemy());
    };

    onMounted(() => {
      timer = setInterval(handlerAdd, 500);
    });

    onUnmounted(() => {
      clearInterval(timer);
    });
  };

  move();
  addEnemy();

  return {
    move,
    addEnemy,
    enemyList,
    destroyEnemy,
  };
};
</script>

<style lang="scss" scoped></style>
