<template>
  <box>
    <sprite :src="mapImg"></sprite>
  </box>
</template>

<script>
import mapImg from '../assets/map.jpg';
export default {
  setup() {
    return { mapImg };
  },
};
</script>

<style lang="scss" scoped></style>
