<template>
  <box>
    <sprite :src="planeImg"></sprite>
  </box>
</template>

<script>
import { onMounted, onUnmounted, reactive } from 'vue';
import planeImg from '../assets/plane.png';
import config from '../config';
export default {
  setup() {
    return {
      planeImg,
    };
  },
};

export const usePlane = ({ onAttack }) => {
  let planeInfo = reactive(config.myPlane);

  const move = (speed) => {
    const onMove = (e) => {
      switch (e.code) {
        case 'ArrowUp':
          planeInfo.y -= speed;
          break;
        case 'ArrowDown':
          planeInfo.y += speed;
          break;
        case 'ArrowLeft':
          planeInfo.x -= speed;
          break;
        case 'ArrowRight':
          planeInfo.x += speed;
          break;
        default:
          break;
      }
    };

    onMounted(() => {
      window.addEventListener('keydown', onMove);
    });

    onUnmounted(() => {
      window.addEventListener('keydown', onMove);
    });
  };

  const attack = () => {
    const handleAttack = (e) => {
      if (e.code === 'Space' && typeof onAttack === 'function') {
        onAttack({
          x: planeInfo.x + 100,
          y: planeInfo.y,
        });
      }
    };

    onMounted(() => {
      window.addEventListener('keydown', handleAttack);
    });

    onUnmounted(() => {
      window.addEventListener('keydown', handleAttack);
    });
  };

  move(config.myPlane.speed);

  attack();

  return {
    planeInfo,
  };
};
</script>

<style lang="scss" scoped></style>
