<template>
  <box>
    <sprite :src="endPage"></sprite>
    <sprite :src="restartBtn" x="227" y="514" :interactive="true" @click="restartGame"></sprite>
  </box>
</template>

<script>
import endPage from '../assets/end_page.jpg';
import restartBtn from '../assets/restartBtn.png';
export default {
  setup(props, { emit }) {
    const restartGame = () => {
      emit('change-page', 'GamePage');
    };
    return {
      endPage,
      restartBtn,
      restartGame,
    };
  },
};
</script>

<style lang="scss" scoped></style>
