<template>
  <box>
    <Map></Map>
    <Plane :x="planeInfo.x" :y="planeInfo.y"></Plane>
    <Bullet v-for="(item, index) in bulletList" :x="item.x" :y="item.y" :key="index"></Bullet>
    <Enemy :key="index" v-for="(enemy, index) in enemyList" :x="enemy.x" :y="enemy.y"></Enemy>
  </box>
</template>

<script>
import Map from '../components/Map.vue';
import Plane, { usePlane } from '../components/Plane.vue';
import Bullet, { useBullet } from '../components/Bullet.vue';
import Enemy, { useEnemy } from '../components/Enemy.vue';
import { useFighting } from '../game/fighting';
export default {
  components: {
    Map,
    Plane,
    Bullet,
    Enemy,
  },
  setup(props, { emit }) {
    const { bulletList, addBullet, destroyBullet } = useBullet();

    const { planeInfo } = usePlane({
      onAttack(position) {
        addBullet(position);
      },
    });

    const { enemyList, destroyEnemy } = useEnemy();

    const gameOver = () => {
      // console.log('over');
      emit('change-page', 'EndPage');
    };

    useFighting({ planeInfo, bulletList, destroyBullet, enemyList, destroyEnemy, gameOver });

    return { planeInfo, bulletList, enemyList };
  },
};
</script>

<style lang="scss" scoped></style>
