<template>
  <box>
    <sprite :src="startPage"></sprite>
    <sprite :src="startBtn" x="227" y="514" :interactive="true" @click="startGame"></sprite>
  </box>
</template>

<script>
import startPage from '../assets/start_page.jpg';
import startBtn from '../assets/startBtn.png';
export default {
  setup(props, { emit }) {
    const startGame = () => {
      emit('change-page', 'GamePage');
    };

    return { startPage, startBtn, startGame };
  },
};
</script>

<style lang="scss" scoped></style>
