<template>
  <box>
    <StartPage v-if="currentPage === 'StartPage'" @change-page="changePage"></StartPage>
    <GamePage v-else-if="currentPage === 'GamePage'" @change-page="changePage"></GamePage>
    <EndPage v-else-if="currentPage === 'EndPage'" @change-page="changePage"></EndPage>
  </box>
</template>

<script>
import { ref } from 'vue';
import StartPage from './pages/StartPage.vue';
import GamePage from './pages/GamePage.vue';
import EndPage from './pages/EndPage.vue';

export default {
  components: {
    StartPage,
    GamePage,
    EndPage,
  },
  setup() {
    const currentPage = ref('StartPage');

    const changePage = (page) => {
      currentPage.value = page;
    };

    return {
      currentPage,
      changePage,
    };
  },
};
</script>
